body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 8px!important;
}
.menu-principal {
    background-color: #e4e3e3;
    width: 100%;
    height: 90px; 
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    padding: 6px;
    float: left;
    width: 100%;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 0 auto;
}
.menu-url {
    border-bottom: 3px solid #ff5c5c;
    height: 80px;
}
.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu ul li a {
    color: #ff5c5c;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    width: 30%;
    float: right;
    text-align: center;
}
.busca input {
    background-repeat: no-repeat;
    margin-top: 18px;
    height: 30px;
    padding: 10px;
    width: 190px;
    border: solid #ff5c5c;
}
.coluna {
    width: 100%;
    float: left;
    position: relative;
}

h1 {
    color: #ff5c5c;
}

h1.noticias {
    color: black;
    font-size: 24;
}

.table_lst_cursos{
    background-color: #e4e3e3;
    border: 20px solid #e4e3e3;
    
}

h1.l_cursos{
    color: black;
    font-size: 24;
}
<<<<<<< HEAD
=======

td.det_um{
    width:80%;
    vertical-align:top;
    border-radius: 15px;
    padding-right: 20px;
    text-align: justify;
}
td.det_dois{
    text-align: center;
    vertical-align:top;
    background-color: #FFBD4A;
    border-radius: 15px;
}
img.det_head {
    border-radius: 15px;
    width: 100%;
}
img.det_data{
    vertical-align: middle;
}
p.det_inscricao{
    border-style: solid;
    border-radius: 10px;
    border-color: #80cf87;
    font-size: 30px;
    background-color: #80cf87	;
    color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
}
button.home{
    background-color: gray;
    color:white;
    font-size: 15px;
    border-radius: 8px;
    width: 15%;
    height: 30px;
    transition-duration: 0.4s;
}
button.home:hover{
    background-color: gray;
    color:#000000;
    border-style: ridge;
}
>>>>>>> c095dceb6dc2f9b7820c1f8fa3ed93b274bfbc1b
